[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
pymongo = "*"
flask-caching = "*"
flask-cors = "*"
flask-talisman = "*"

[dev-packages]

[requires]
python_version = "3.11"
